<!-- Themes Drag and drop - Products + CTA header -->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12>
        <!-- Header Products + CTA header -->
        <ion-list-header no-padding box-shadow header-section no-lines no-margin>
          <h1 header-title padding-left text-capitalize>{{data.header}}</h1>
          <ion-item no-padding text-center no-lines>
            <h2 item-title text-capitalize text-wrap>{{data.title}}</h2>
            <h2 item-subtitle no-margin text-wrap>{{data.subtitle}}</h2>
            <button box-shadow ion-button default-button (click)="onEvent('onButtonGetClick', '', $event)">{{data.button}}</button>
          </ion-item>
        </ion-list-header>
        <!-- Content Products + CTA header -->
        <ion-list no-margin reorder="true" (ionItemReorder)="reorderItems($event)">
          <ion-item no-lines default-item *ngFor="let item of data.items; let i = index;" (click)="onEvent('onItemClick', item.title, $event)">
            <!-- Avatar -->
            <ion-avatar item-start no-margin>
              <img [src]="item.image">
            </ion-avatar>
            <!-- Title -->
            <h2 item-title margin-left>{{item.title}}</h2>
            <!-- Subtitle -->
            <p item-subtitle margin-left>{{item.subtitle}}</p>
            <!-- Badge -->
            <ion-badge box-shadow badge-light margin-left>{{item.price}}</ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
