<!-- Themes Swipe To Dismiss - Products + CTA -->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12>
        <!-- Header top Swipe To Dismiss Products + CTA -->
        <ion-list-header box-shadow no-lines header-section no-margin>
          <!-- Big Title Swipe To Dismiss Products + CTA -->
          <h1 header-title text-capitalize>{{data.header}}</h1>
        </ion-list-header>
        <!-- Content -->
        <ion-list no-margin>
          <ion-item-sliding default-item transparent *ngFor="let item of data.items" #slidingItem>
            <ion-item no-padding no-lines (click)="onEvent('onItemClick', item.title, $event)">
              <!-- Images -->
              <ion-item-divider no-lines>
                <ion-avatar item-start>
                  <img [src]="item.image">
                </ion-avatar>
                <!-- Title -->
                <h2 item-title>{{item.title}}</h2>
              </ion-item-divider>
              <ion-item-divider transparent no-lines>
                <!-- Subtitle -->
                <p item-subtitle text-wrap>{{item.subtitle}}</p>
                <!-- Button -->
                <button ion-button default-button text-capitalize box-shadow item-end>{{item.ionButton}}</button>
              </ion-item-divider>
            </ion-item>
            <!--Action Button-->
            <ion-item-options no-lines>
              <!-- Button -->
              <button ion-button text-capitalize (click)="delete(item)">
              {{item.delate}}
            </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
